<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🐍</title>
    <style>
        * {
            box-sizing: border-box;
            overflow: hidden;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background-color: black;
            position: relative;
            display: grid;
            place-items: center;
        }
    </style>
</head>
<body>
<audio id="theme" src="static/theme.mp3" loop></audio>
<canvas id="canvas"></canvas>
<script src="static/fonts.js"></script>
<script>
    const canvas = document.getElementById("canvas");
    const context = canvas.getContext("2d");
    const backgroundImage = new Image();
    backgroundImage.src = "static/paper.jpg";
    context.translate(0.5, 0.5);

    function resizeCanvas() {
        const size = Math.min(document.body.clientWidth, document.body.clientHeight);
        canvas.width = size;
        canvas.height = size;
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    let dragging = false;

    const myWriterId = "{{ my_id }}";
    const writers = {};

    function getMouse(e) {
        const rect = canvas.getBoundingClientRect();
        const clientX = e.clientX || e.touches[0].clientX;
        const clientY = e.clientY || e.touches[0].clientY;
        const x = (clientX - rect.left) / (rect.right - rect.left);
        const y = (clientY - rect.top) / (rect.bottom - rect.top);

        return {x, y};
    }

    function toCanvas({x, y}) {
        return {
            x: x * canvas.width,
            y: y * canvas.height,
        };
    }

    function addPoint(writerId, strokeId, point) {
        if (!writers[writerId]) {
            writers[writerId] = {strokes: {}};
        }
        if (!writers[writerId].strokes[strokeId]) {
            writers[writerId].strokes[strokeId] = [];
        }
        writers[writerId].strokes[strokeId].push(point);
    }

    function newPoint(e) {
        const point = getMouse(e);

        addPoint(myWriterId, currentStrokeId, point);

        let message = {
            "type": "paint",
            "writer_id": myWriterId,
            "stroke_id": currentStrokeId,
            "point": point,
        };
        socket.send(JSON.stringify(message));
    }

    function stopEvent(e) {
        e.stopImmediatePropagation();
        e.stopPropagation();
        e.preventDefault();
    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    let currentStrokeId = null;

    let musicPlaying = false;
    function mouseDown(e) {
        stopEvent(e);
        if (!musicPlaying) {
            document.getElementById("theme").play();
            musicPlaying = true;
        }
        dragging = true;
        currentStrokeId = uuidv4();
        newPoint(e);
    }

    function mouseMove(e) {
        if (!dragging) {
            return;
        }
        newPoint(e);
    }

    function mouseUp() {
        dragging = false;
    }

    canvas.addEventListener("mousedown", mouseDown);
    canvas.addEventListener("touchstart", mouseDown);
    canvas.addEventListener("mousemove", mouseMove);
    canvas.addEventListener("touchmove", mouseMove);
    canvas.addEventListener("mouseup", mouseUp);
    canvas.addEventListener("touchend", mouseUp);

    let lastKeyPressTime = null;
    let keyPressIndex = 0;
    let lineWidth = 0;
    const characterScale = 0.05;
    const spaceWidth = characterScale * 1.1;
    const lineHeight = characterScale * 1.3;
    let line = 0;
    const xPadding = 0.03;
    const yPadding = 0.03;
    window.addEventListener("keypress", function (e) {
        let key = e.key;
        if (fonts[key] === undefined && key !== " " && key !== "Enter") {
            return;
        }
        stopEvent(e);
        const time = Number(new Date());
        if (lastKeyPressTime === null) {
            lastKeyPressTime = time;
        }
        const timeSinceLastKey = time - lastKeyPressTime;
        lastKeyPressTime = time;
        if (timeSinceLastKey > 3000) {
            keyPressIndex = 0;
            lineWidth = 0;
            line = 0;
        }

        if (key === " ") {
            lineWidth += spaceWidth;
            return;
        }
        if (key === "Enter") {
            ++line;
            lineWidth = 0;
            return;
        }
        if (lineWidth + xPadding + spaceWidth + xPadding> 1.0) {
            ++line;
            lineWidth = 0;
        }

        const frozenLineWidth = lineWidth;
        const frozenLine = line;

        key = key.toUpperCase();
        let xMin = null;
        let xMax = null;
        let yMin = null;
        let yMax = null;
        for (let stroke of fonts[key]) {
            for (let point of stroke) {
                if (xMin === null || point.x < xMin) {
                    xMin = point.x;
                }
                if (xMax === null || point.x > xMax) {
                    xMax = point.x;
                }
                if (yMin === null || point.y < yMin) {
                    yMin = point.y;
                }
                if (yMax === null || point.y > yMax) {
                    yMax = point.y;
                }
            }
        }
        lineWidth += spaceWidth;
        let i = 0;
        let j = 0;
        let writerId = uuidv4();
        writers[writerId] = {strokes: []};
        const characterWriter = writers[writerId];
        const strokes = characterWriter.strokes;

        function write() {
            if (i >= fonts[key].length) {
                return;
            }
            if (j >= fonts[key][i].length) {
                i = i + 1;
                j = 0;
                return write();
            }
            if (j === 0) {
                strokes.push([]);
            }
            const point = fonts[key][i][j];

            const xNormalized = (point.x - xMin) / (xMax - xMin);
            const yNormalized = (point.y - yMin) / (yMax - yMin);
            const xScaled = xNormalized * characterScale;
            const yScaled = yNormalized * characterScale;
            const xTranslated = xPadding + xScaled + frozenLineWidth;
            const yTranslated = yPadding + yScaled + frozenLine * lineHeight;

            const translatedPoint = {
                x: xTranslated,
                y: yTranslated,
            }


            strokes[strokes.length - 1].push(translatedPoint);
            j = j + 1;
            let message = {
                "type": "paint",
                "writer_id": writerId,
                "stroke_id": i,
                "point": translatedPoint,
            };
            socket.send(JSON.stringify(message));
            setTimeout(write, point.time / 60);
        }

        write();
    })


    let prevTime = null;

    function slowlyFade(delta) {
        const FADE_OUT_RATE = 0.005;
        const alpha = delta * FADE_OUT_RATE;
        context.save();
        context.fillStyle = `rgba(255,255,255,${alpha})`;
        context.globalAlpha = alpha;
        context.globalCompositeOperation = "source-cover";
        context.drawImage(backgroundImage, 0, 0, canvas.width, canvas.height);
        context.restore();
    }

    const STROKE_LIFESPAN_TIME = 8000;

    function drawStrokes(time) {
        for (const writerId of Object.keys(writers)) {
            const writer = writers[writerId];
            const strokes = writer.strokes;
            for (const strokeId of Object.keys(strokes)) {
                const stroke = strokes[strokeId];
                let toRemove = 0;
                for (let i = 0; i < stroke.length; ++i) {
                    const point = stroke[i];
                    if (!point.time) {
                        point.time = time;
                    }
                }
                for (let i = 0; i < stroke.length; ++i) {
                    const point = stroke[i];
                    if (time - point.time > STROKE_LIFESPAN_TIME) {
                        toRemove += 1;
                    } else {
                        break;
                    }
                }
                for (let i = 0; i < toRemove; i += 1) {
                    stroke.shift();
                }

                if (stroke.length >= 2) {
                    context.strokeStyle = "rgba(0, 0, 0, 1)";
                    context.fillStyle = "rgba(0, 0, 0, 1)";
                    context.lineWidth = document.body.clientWidth < 500 ? 5 : 7;
                    context.lineCap = "round";
                    context.beginPath();
                    let {x, y} = toCanvas(stroke[0]);
                    context.moveTo(x, y);
                    for (let i = 1; i < stroke.length; ++i) {
                        let {x, y} = toCanvas(stroke[i]);
                        context.lineTo(x, y);
                    }
                    context.stroke();
                }
            }
        }
    }

    function render(time) {
        if (prevTime === null) {
            prevTime = time;
        }
        const delta = time - prevTime;
        prevTime = time;

        slowlyFade(delta);

        drawStrokes(time);

        window.requestAnimationFrame(render);
    }

    render(0);

    let socket;
    let numRetries = 0;
    let reconnectTimeout = null;

    function connect() {
        if (reconnectTimeout !== null) {
            clearTimeout(reconnectTimeout);
            reconnectTimeout = null;
        }
        const protocol = window.location.protocol === "https:" ? "wss:" : "ws:";
        socket = new WebSocket(`${protocol}//${window.location.host}/socket/{{ canvas_id }}`);
        socket.onopen = function () {
            console.log("socket opened");
            numRetries = 0;
        }
        socket.onmessage = function (message) {
            message = JSON.parse(message.data);
            const message_type = message["type"]
            if (message_type === "paint") {
                addPoint(message["writer_id"], message["stroke_id"], message["point"]);
            } else if (message_type === "num_peers") {
                console.log(message);
            }
        }
        socket.onerror = function (e) {
            console.error("socket error", e);
        }
        socket.onclose = function (e) {
            console.error("socket closed", e);
            numRetries += 1;
            if (numRetries < 10) {
                socket = null;
                reconnectTimeout = setTimeout(connect, 200 * Math.pow(2, numRetries));
            } else {
                console.error("the connection is messed up, try refreshing the page");
            }
        }
    }

    connect();
</script>
</body>
</html>